<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saved Notes</title>
    <link rel="stylesheet" href="/static/static.css">
    <link rel="stylesheet" href="/static/header.css">
    <link rel="stylesheet" href="/static/body.css">
    <link rel="stylesheet" href="/static/notes.css">
    
       
</head>
<body>
    <div class="saved-notes">
        <h1>Saved Notes</h1>

       
        {{range .}}

        <h2> Title: {{.Title}}</h2>
        <p>Note: {{.Note}}</p>
        
        <form action="/delete" method="post">
            <input type="hidden" name="id" value="{{.Id}}">
            <button type="submit" style="display: inline;">Delete</button>
        </form>
        
        <hr>
        
        {{else}}
        <p>No notes yet.</p>
        {{end}}
        

        <a href="/" class="back-home">Back to Home</a>
    </div>
</body>
</html>
