.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    
}

.notes-form {
    display: flex;
    flex-direction: column;
    align-items: center;     
    justify-content: center;
    gap: 10px;

    width: 100%;
}

